.title {
    font-size: 6.41vw;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -.3vw;
    position: sticky;
    bottom: 100%;
}

.titleWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.textBase {
    display: block;
    color: #fff;
}

.textFill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--skyblue);
    clip-path: inset(100% 0 0 0);
}

.heroTitlee {
    font-size: 1vw;
}

@media only screen and (max-width: 600px) {

}