/* .aboutContainer {
    overflow: hidden;
}

.card {
    transform-origin: center center;
} */

.aboutContainer {
    margin: 0 10.25vw;
    padding: 6.35vw 3.17vw;
    background-color: var(--card-2-background);

    display: flex;
    gap: 4.23vw;
    align-items: center;
    justify-content: space-between;
}

.aboutContainer h2 {
    color: var(--white);
    font-size: 3.17vw;
    font-weight: 400;
    line-height: 1.2;
    text-wrap: balance;
    width: 37.04vw;
}

.aboutContainer p {
    color: var(--white);
    font-size: 1.69vw;
    font-weight: 300;
    line-height: 1.4;
    width: 37.04vw;
}

.aboutSecondContainer {
    margin: 0 10.25vw;
    margin-top: 6.35vw;
    padding: 6.35vw 3.17vw;
    background-color: var(--card-2-background);

    display: flex;
    gap: 4.23vw;
    align-items: center;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.32vw;

}

.card {
    display: flex;
    padding-left: 3.17vw;
    align-items: center;
    justify-content: center;
    width: 41.53vw;
    height: 4.63vw;
    background: #1a1a1a;

    border-radius: 0.53vw;

    transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    color: rgb(255, 255, 255);

    transition: transform .4s ease;
}

.card:hover {
    transform: translate3d(-1rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    padding: 2.3vw;
    transition: all .4s ease;
}

.card:hover p {
    color: var(--skyblue);

}

.icon {
    rotate: -90deg;
}

.icon {
    color: var(--white);
    margin-right: 1.59vw;
    width: 2.2vw;
    height: 2.2vw;
}

.aboutSecondContainer h2 {
    color: var(--white);
    font-size: 3.17vw;
    font-weight: 400;
    line-height: 1.2;
    text-wrap: balance;
    width: 37.04vw;
}

.secondTitle {
    color: var(--white);
    font-size: 3.17vw;
    font-weight: 400;
    line-height: 1.2;
    text-wrap: balance;
    width: 37.04vw;
}

.aboutSecondContainer p {
    color: var(--white);
    font-size: 1.69vw;
    font-weight: 300;
    line-height: 1.4;
    width: 37.04vw;
}

.aboutThirdContainer {
    margin: 0 10.25vw;
    margin-top: 6.35vw;
    padding: 6.35vw 3.17vw;
    background-color: var(--card-2-background);

    display: flex;
    gap: 4.23vw;
    align-items: center;
    justify-content: space-between;
}

.multilineText {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.textLine {
    display: block;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .aboutContainer {
        margin: 0 5.33vw;
        margin-top: 21.33vw;
        padding: 12.80vw 4.27vw;
        flex-direction: column;

        display: flex;
        gap: 6.13vw;
        align-items: center;
        justify-content: space-between;
    }

    .aboutContainer h2 {
        font-size: 9.39vw;
        width: 100%;
    }

    .aboutContainer p {
        font-size: 5.33vw;
        width: 100%;
    }

    .aboutContainer p>div {
        display: flex;
        gap: .8vw;
        flex-wrap: wrap;
    }

    .aboutSecondContainer {
        margin: 0 5.33vw;
        margin-top: 25.60vw;
        padding: 12.80vw 4.27vw;
        flex-direction: column;

        display: flex;
        gap: 8.00vw;
        align-items: center;
        justify-content: space-between;
    }

    .cards {
        gap: 4.27vw;
    }

    .card {
        width: 80.80vw;
        height: 18.13vw;
        justify-content: flex-start;
    }

    .aboutSecondContainer h2 {
        font-size: 14.08vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .aboutSecondContainer p {
        font-size: 5.33vw;
        width: max-content;
    }

    .icon {
        color: var(--white);
        margin-right: 1.59vw;
        width: 6.3vw;
        height: 6.3vw;
    }


}