.heroSection {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 0 10.25vw;
    color: white;
    margin-bottom: 10.58vw;
}

.heroContainer {
    position: relative;
    width: 100%;
    background: var(--card-1-background);
    height: 19.05vw;
    margin-top: 5vw;
    border-top-left-radius: 1.98vw;
    border-top-right-radius: 1.98vw;
}

.heroImageWrapper {
    position: absolute;
    top: -6vw;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    max-width: 64rem;
    height: 25vw;
}

.heroImage {
    filter: brightness(80%) grayscale(100%);
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.heroTitle {
    position: absolute !important;
    bottom: -4.5vw !important;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8.8vw !important;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.heroDescription {
    position: absolute;
    bottom: -6.8vw;
    left: 1vw;
    margin-top: 4rem;
    font-size: 1.69vw;
    color: var(--font-color-desc-1);
}

.heroButton {
    position: absolute;
    bottom: -6.8vw;
    right: 1vw;
    padding: 0.11vw 1.27vw;
    font-size: 1.16vw;
    border: 1px solid var(--font-color-desc-1);
    border-radius: 999px;
    color: var(--font-color-desc-1);
    transition: all 0.075s ease-in-out;
}

.heroButton:hover {
    border-color: var(--skyblue);
    color: var(--skyblue);
}

.indicatorContainer {
    position: absolute;
    bottom: 3vw;
    cursor: pointer;
}

.indicator {
    width: 1.8vw;
    height: 3vw;
    border: 0.19vw solid gray;
    border-radius: 1.62vw / 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 0.3vw;
    height: 0.3vw;
    background-color: gray;
    border-radius: 50%;
    animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-1.1vw);
    }

    50% {
        transform: translateY(1.1vw);
    }
}



/* Mobile styles */
@media only screen and (max-width: 600px) {
    .heroSection {
        height: 60vh;
        padding: 0 5.33vw;
        justify-content: flex-start;
    }

    .heroContainer {
        height: 46.93vw;
        position: relative;
        top: 25vw;
        border-top-left-radius: 5.33vw;
        border-top-right-radius: 5.33vw;
    }

    .heroImageWrapper {
        top: -8vw;
    }

    .heroImage {
        height: 55vw;
    }

    .heroTitle {
        font-size: 3rem;
        bottom: -5vw;
    }

    .heroDescription {
        bottom: -14.8vw;
        font-size: 6.40vw;
    }

    .heroButton {
        display: none;
        bottom: -13.8vw;
        font-size: 1.16vw;
        padding: 0.5rem 1rem;
    }

    .indicatorContainer {
        position: absolute;
        bottom: 10vw;
        cursor: pointer;
    }

    .indicator {
        width: 8.53vw;
        height: 11.53vw;
        border: .6vw solid gray;
        border-radius: 2.62vw / 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot {
        width: 1.2vw;
        height: 1.2vw;
        background-color: gray;
        border-radius: 50%;
        animation: bounce 3s infinite ease-in-out;
    }
}